{% extends 'base.html.twig' %}

{% block body %}
    <h1>The Weather!</h1>

    <turbo-frame id="weather_widget">
        <a data-controller="weather-widget" class="weatherwidget-io" href="https://forecast7.com/es/n0d18n78d47/quito/" data-label_1="QUITO" data-label_2="WEATHER" data-theme="original" >QUITO WEATHER</a>
    </turbo-frame>
{% endblock %}

{% block weather_widget %}
    
{% endblock %}
